language: node_js
node_js:
- iojs
- '7'
- '6'
before_script:
- npm install -g gulp
script:
- gulp
install:
- npm install
before_deploy: "echo 'start deploy'"
deploy:
  skip_cleanup: true
  provider: firebase
  token: "zE2iv0NmByTK1109pEevWl2xy7Jeyhr2syQD24k0XDbdktaDZG9RTxp1Zw+UsKrnS2fjK+EsySZxIq0OysrwzB+MRLfWMv0vutrwL88WJcknyXDiJ6xjCw6tcY63ULBV2o1dkKKuhWp1Ckm3hb9FM+BNPuxmZ32fFHoW3kz2WpSa9WH2cOATB6SIcEDxB+cpIBlyYthR0UUgLNn5BMT2CnDuS4XoqvIcZpqtppPFxcTH2MhR3dx5YN4oW72fevF5CIUBfjJmCjwInDlOTCH5rT+kDrYIyX3LYc7JDAiCiWgcSSzzz4fVlb9F5WGGufhtJmPtEQhRNQ7QJOeD+1LrYQva22oWlhPcpErIOpGK9zs/zcX74q10gfHZRCiu4DKWL8VSRXcAAbT0JlKYYfqTTkU4qfm/LvE23vtOJsHm0BoQUfbiadyGldFzLCXkpzGNebwrxnVzOwCsBcFpMKOjp7+aWk3Fs/1VXy3lJii81xGgPpL+QRJptd6zMsrJDVl85Eyk0R+JNTgivaxe0j9wrO4XUVeQVALPXQHFk5CpRsCtOZ3vU7tgu4B4DLW3CVYvrRtCCitI0PEl1D4jCr7cq0156OJAi6IZpXn3H9CburjpFtB8Ju3UP8/oWGSDdNyjX5rvuAtyLjWFmWKScpPmJ7bGKHLoJW2cU/zjcBv5owo="
  project: "pwa-test-app"
notifications:
  email:
    recipients:
    - puilamlo1701@gmail.com
    on_success: change
    on_failure: always
